spring:
  application:
    name: atlas 
  
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/atlas}
    username: ${SPRING_DATASOURCE_USERNAME:atlas}
    password: ${SPRING_DATASOURCE_PASSWORD:atlas}
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect


server:
  port: 8080
  servlet:
    context-path: /api

